@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Paaji 2', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    overflow-y: scroll;
}

input {
    font-family: 'Baloo Paaji 2', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

h1{
    color: black;
    font-size: 2.4rem;
}

a {
    /* color: black; */
    font-size: 1rem;
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

.title-section{
    padding: 20px 0px;
    text-align: center;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
    min-height: 80vh;
    padding: 20px;
}

section{
    padding: 40px 0px;
}


header {
    background-color: black;
    padding: 20px
}

header a{
    color: white;
    font-size: 1.5rem;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
}

.header-middle{
    font-family: 'Bungee', cursive;
}

nav{
    background-color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    gap: 20px;
}

nav ul li a {    
    color: white;
}

nav ul li {    
    padding: 10px 6px;
    border-bottom: 4px solid black;
}

nav ul li:hover{
    border-bottom: 4px solid red;
    cursor: pointer;
    font-weight: bold;
}

.section-header{
    width: 100%;
    margin-bottom: 40px;
    
}

.section-header h2{
    padding: 20px 0px 20px 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}


footer{
    background-color: black;
    padding: 40px;
    color: white;
}

footer span{
    color: white;
    font-size: 1.3rem;
}

.footer-main{
    display: flex;
    justify-content: space-evenly;
}

.footer-main ul{
    margin-top: 15px;
    list-style-type: none;
}

.footer-main ul li a{
    color: white;
}

.footer-main ul li a:hover{
    text-decoration: underline;
}

.footer-main span{
    margin-bottom: 50px;
}

.footer-message{
    padding: 20px 0px 0px 0px;
    text-align: center;
}
