/* @import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); */


.hero {
    height: min-content;
    position: relative;
}

.hero img {
    max-width: 700px;
    width: 100%;
    height: auto;
    object-fit: contain;
}



.hero-description p,
.item-description p {
    color: #4a4a4a;
    ;
    font-weight: 300;
    line-height: 1.3rem;
}

.image-cover {
    position: absolute;
    background-color: black;
    color: white;
    bottom: 0px;
    width: 100%;
    /* padding: 20px 0px; */
    height: 80px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 1.5rem;
}

.items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.items>div {
    width: min-content;
    margin-bottom: 20px;
}

.items img {
    width: 325px;
    height: 300px;
    object-fit: cover;
}


.shyka {
    display: flex;
    gap: 20px;
}

.shyka img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.extra-content .content-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.extra-content .content-description p {
    color: #4a4a4a;
    font-weight: 300;
    line-height: 1.3rem;
}


/*  */

.anime {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.anime-content {
    display: flex;
}

.anime-content p {
    color: #4a4a4a;
    font-weight: 300;
    line-height: 1.6rem;
    font-size: 1.3rem;
}

.anime-description p {
    /* font-family: "Roboto", sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 400;
    font-style: normal;
    white-space: pre-line;
    color: rgb(66, 66, 66);
}

.anime-content-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 700px;
}

.anime-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.anime-header span {
    padding: 20px 30px;
    background-color: rgb(253, 134, 134);
    /* background-color: black; */
    color: white;
    font-family: 'Bungee', cursive;
    font-size: 1.2rem;
}

.anime-icons {
    display: flex;
    gap: 10px;
}

.anime-icons img {
    object-fit: contain;
}

.anime-imagesection img {
    width: 650px;
    height: 400px;
    object-fit: cover;
}

.anime-image {
    width: 650px;
    height: 400px;
    background-color: rgb(214, 214, 214);
}

.anime-info ul {
    list-style-type: none;
}

.page-image-section {
    width: 100%;
    height: 500px;
    background-color: rgb(214, 214, 214);
}


.anime-content-navigation>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.anime-content-navigation ul {
    list-style-type: none;
    /* position: sticky; */
}

.anime-content-navigation ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.anime-content-navigation .section-header {
    margin-top: 40px;
}